/* ===== Reset ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff !important;
  color: #111;
  line-height: 1.6;
}

/* ===== Typography ===== */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

/* ===== Utility Classes ===== */


.section {
  padding: 60px 0;
}

/* ===== Buttons ===== */

.btn-primary-custom {
  background-color: #000;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-primary-custom:hover {
  background-color: #333;
}

:root{
    --primary: #111111;
--accent:    #d4af37 ;
--light-bg:  #f8f9fa;
--gray-text: #6c757d;
}